{# EXTENDE OS CONTEÚDOS PRÉ CONFIGURADOS EM layout.html #}
{% extends "layout.html" %}

{% set pageId = "page-create-point" %}

{% block nativeTitle %}
    <title>Criar um ponto de coleta</title>
{% endblock nativeTitle %}

{% block nativeStyles %}
    <link rel="stylesheet" href="styles/create-point.css">
    <link rel="stylesheet" href="styles/modal.css">

{% endblock nativeStyles %}

{% block nativeContent %}
    <div id="page-create-point">

        {% include "partials/page-header.html" %}

        <!-- CAIXA DE FORMULÁRIO -->
        <form action="/savepoint" method="POST">

            <h1>Cadastro do ponto de coleta</h1>

            <!-- 1ª CAIXA COM CONJUNTOS DE CAMPOS -->
            <fieldset>
                <legend>
                    <h2>Dados da entidade</h2>
                </legend>

                <!-- CAMPO 1 - NOME E IMAGEM -->

                <div class="field-group">
                    <div class="field">
                        <label for="">Nome da entidade</label>
                        <input type="text" name="name" required="required">
                    </div>
                    
                    <div class="field">
                        <label for="">Imagem da entidade (URL)</label>
                        <input placeholder="https://"type="url" name="image" required="required">
                    </div>
                </div>


                
                <!-- CAMPO 2 - ENDEREÇO E NÚMERO-->
                <div class="field-group">

                    <!-- endereço -->
                    <div class="field">
                        <label for="address">Endereço</label>
                        <input type="text" name="address" required="required">

                    </div>

                    <!-- numero -->
                    <div class="field">
                        <label for="a">Número/Complemento</label>
                        <input type="number" name="address2" required="required">
                    </div>
                </div>

                <!-- CAMPO 3 - CIDADE E ESTADO -->
                <div class="field-group">

                    <!-- estado -->
                    <div class="field">
                        <label for="state">Estado</label>
                        <select name="uf" required="required">
                            <option value="">Selecione o Estado</option>
                        </select>

                    </div>

                    <!-- cidade -->
                    <div class="field">
                        <label for="city">Cidade</label>
                        <select name="city" disabled="disabled" required="required">
                            <option value="">Selecione o Estado</option>

                        </select>

                        <input type="hidden" name="state">

                    </div>

                </div>

            </fieldset>

            <!-- 2ª CAIXA COM CONJUNTOS DE CAMPOS -->
            <fieldset>
                <legend>
                    <h2>Itens de coleta</h2>
                    <span>Selecione um ou mais itens abaixo</span>
                </legend>

                <div class="items-grid">
                    <li data-id="Lâmpadas">
                        <img src="/assets/lampadas.svg" alt="Lâmpadas">
                        <span>Lâmpadas</span>
                    </li>

                    <li data-id="Pilhas e Baterias">
                        <img src="/assets/baterias.svg" alt="Pilhas e Baterias">
                        <span>Pilhas e Baterias</span>
                    </li>

                    <li data-id="Papéis e Papelão">
                        <img src="/assets/papeis-papelao.svg" alt="Papéis e Papelão">
                        <span>Papéis e Papelão</span>
                    </li>

                    <li data-id="Resíduos Eletrônicos">
                        <img src="/assets/eletronicos.svg" alt="Resíduos Eletrônicos">
                        <span>Resíduos Eletrônicos</span>
                    </li>

                    <li data-id="Resíduos Orgânicos">
                        <img src="/assets/organicos.svg" alt="Resíduos Orgânicos">
                        <span>Resíduos Orgânicos</span>
                    </li>

                    <li data-id="Óleo de Cozinha">
                        <img src="/assets/oleo.svg" alt="Óleo de Cozinha">
                        <span>Óleo de Cozinha</span>
                    </li>
                </div>

            </fieldset>

            <button>Cadastrar Ponto de Coleta</button>

        </form>

    </div>

{% endblock nativeContent %}

{% block nativeModal %}
    {% if saved %}
        {% include "partials/point-created.html"%}
    {% endif %}
{% endblock nativeModal %}

{% block nativeScripts %}
    <script src="/scripts/create-point.js"></script>
{% endblock nativeScripts %}